@font-face {
  font-family: "iconfont"; /* Project id 5046679 */
  src: url('iconfont.woff2?t=1761114463133') format('woff2'),
       url('iconfont.woff?t=1761114463133') format('woff'),
       url('iconfont.ttf?t=1761114463133') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e62b";
}

.icon-xuanze:before {
  content: "\e652";
}

.icon-weixuanzhong:before {
  content: "\e653";
}

.icon-a-xiangyoulunkuohua:before {
  content: "\e65d";
}

.icon-a-xiangxialunkuohua:before {
  content: "\e65e";
}

.icon-a-xiangshanglunkuohua:before {
  content: "\e65f";
}

.icon-a-xiangzuolunkuohua:before {
  content: "\e660";
}

.icon-a-sousuolunkuohua:before {
  content: "\e662";
}

.icon-a-guanbilunkuohua:before {
  content: "\e665";
}

.icon-dagou:before {
  content: "\e6b4";
}

.icon-weixuanzhong1:before {
  content: "\e6ce";
}

.icon-xuanzhong2:before {
  content: "\e6d0";
}

.icon-bumen:before {
  content: "\e6f1";
}

.icon-bumen1:before {
  content: "\e6f4";
}

.icon-yuangong:before {
  content: "\e6f6";
}

.icon-bumen2:before {
  content: "\e6f7";
}

